
/* html{overflow: hidden;} */

*{
    /* outline: solid 1px red; */
}

html, body {
    width: 100%; 
    /* height: 100%; */
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

.content-main {
    max-width: 100vw;
}

#top {
    position:relative;
    max-width: 100vw;
    height: 190vh;
    /* background-color: black; */
    background:url("../img/background.jpg") no-repeat;
    background-size : cover;
}



#main-logo {
    position:absolute;
    left: 33vw;
    top: 41.64vh;
}

#main-logo-img {
    width: 32.375vw;
    height: auto;
}

#under-obj {
    position:absolute;
    left: 48.9583vw;
    top: 91.12685185vh;
}

#under-obj-img {
    position: absolute;
    width:2.083vw;
    height: auto;

}

.nav {
    display: flex;
    position:absolute;
    left:41.451vw;
    top : 2.4vh;
}

.navbar-toggle-btn {
    position : absolute;
    right:5.2vw;
    top : 5.3vh;
    color : white;
    display: none;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}
        
nav>ul li {
    /* float: left; */
    padding : 1vh 2.6vw;
}

#nav-item1 {
    width: 58.35px;
    height: auto;
}

#nav-item2 {
    width: 67.26px;
    height: auto;
}

#nav-item3 {
    width: 56.6016px;
    height: auto;
}

#nav-item4 {
    width: 72.499px;
    height: auto;
}

#top-logo {
    position:absolute;
    right:5.2vw;
    top : 5.3vh;
    /* margin-left:3px; */
}

#top-logo-img {
    width: 138.168px;
    height: auto;
}


a {
    color : white;
    text-decoration: none;
}