
/* html{overflow: hidden;} */

*{
    /* outline: solid 1px red; */
}

html, body {
    width: 100%; 
    /* height: 100%; */
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.content-main {
    max-width: 100vw;
}

#top {
    position:relative;
    max-width: 100vw;
    height: 190vh;
    /* background-color: black; */
    background:url("../img/background.jpg") no-repeat;
    background-size : cover;
}


#main-logo {
    position:absolute;
    left: 33vw;
    top: 41.64vh;
}

#main-logo-img {
    width: 32.375vw;
    height: auto;
}

#under-obj {
    position:absolute;
    left: 48.9583vw;
    top: 91.12685185vh;
}

#under-obj-img {
    position: absolute;
    width:31.94px;
    height: auto;
    animation:motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

.nav {
    display: flex;
    position:fixed;
    width:58.549vw;
    margin-left:41.451vw;
    margin-top : 2.4vh;
    transition: transform .3s;
    z-index: 99;
}

.nav.hide {
    transform: translateY(-100%);
  }

.navbar-toggle-btn {
    position : absolute;
    right:5.2vw;
    top : 3.3vh;
    color : white;
    display: none;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}
        
nav>ul li {
    /* float: left; */
    padding : 1vh 2.6vw;
}

#nav-item1 {
    width: 58.35px;
    height: auto;
}

#nav-item2 {
    width: 67.26px;
    height: auto;
}

#nav-item3 {
    width: 56.6016px;
    height: auto;
}

#nav-item4 {
    width: 72.499px;
    height: auto;
}

#top-logo {
    position:absolute;
    top : 3.3vh;
    right:5.2vw;
    /* margin-left:3px; */
}

#top-logo-img {
    width: 138.168px;
    height: auto;
}

#footer {
    position: absolute;
    top:6.25vh;
    left:20.36vw;
    display: flex;
    gap: 15.87vw;
}

footer {
    position: relative;
    height:260px;
    width: 100%;
    background-color: #434040;
}

.section {
    display: block;
}

.section p {
    color: white;
}

.f-title {
    font-weight: 500;
    font-size: 1rem;
}

.f-text{
    font-size:0.6rem;
    font-weight:300px;
}

a {
    color : white;
    text-decoration: none;
}